flask
# tensorflow
pandas
numpy
schema
statsmodels
scipy
requests
click
python-dotenv
neo4j-driver
requests-cache
peewee
psycopg2-binary
celery
redis
records
# supervisor 4.0.0dev for python3
https://github.com/Supervisor/supervisor/archive/837c159ae51f3bf12c1d30a8cb44f3450611983c.zip
fbprophet
